@import "tailwindcss";
@import "flowbite";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Menghilangkan Scroll */
body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist/Geist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/geist/GeistMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@keyframes drawLineY {
  0% {
    height: 0;
  }
  100% {
    height: 1.5rem;
  }
}

@keyframes drawLineX {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-line-y {
  animation: drawLineY 0.7s ease-out forwards;
}

.animate-line-x {
  animation: drawLineX 0.7s ease-out forwards;
}
